.floor {
    margin-top: 10vh;
    margin-bottom: 1vh;
    width: 75vw;
    background-color: #0000006e;
    border-radius: 500px;
  }
  .floor-title{
    font-size: 3rem;
    padding: 5px 10px 5px;
    margin: 0px;
  }

  /* Making Responsive */
@media all and (max-width : 600px){
  .floor-title{
    font-size: 2.2rem;
  }
  .floor {
    width: 85vw;
    margin-bottom: 3vh;
  }
}